wsc/src/main/resources/xAPSWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.freeacs.github.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Test" targetNamespace="http://ws.freeacs.github.com/">
	<wsdl:types>
		<!-- WSDL Version 2 -->
		<xsd:schema targetNamespace="http://ws.freeacs.github.com/">
			<xsd:complexType name="Login">
				<xsd:sequence>
					<xsd:element name="username" nillable="false" type="xsd:string" />
					<xsd:element minOccurs="0" name="password" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Unittype">
				<xsd:sequence>
					<xsd:element name="name" nillable="false" type="xsd:string" />
					<xsd:element minOccurs="0" name="matcherId" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="vendor" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="protocol" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="parameters" nillable="true" type="tns:parameterList" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Profile">
				<xsd:sequence>
					<xsd:element name="name" nillable="false" type="xsd:string" />
					<xsd:element minOccurs="0" name="parameters" nillable="true" type="tns:parameterList" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Unit">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="unitId" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="serialNumber" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="profile" nillable="true" type="tns:Profile" />
					<xsd:element minOccurs="0" name="unittype" nillable="true" type="tns:Unittype" />
					<xsd:element minOccurs="0" name="parameters" nillable="true" type="tns:parameterList" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Parameter">
				<xsd:sequence>
					<xsd:element name="name" nillable="false" type="xsd:string" />
					<xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="flags" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfParameter">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="item" type="tns:Parameter" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="parameterList">
				<xsd:sequence>
					<xsd:element name="parameterArray" nillable="false" type="tns:ArrayOfParameter" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUnittype">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Unittype" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="unittypeList">
				<xsd:sequence>
					<xsd:element name="unittypeArray" nillable="false" type="tns:ArrayOfUnittype" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfProfile">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Profile" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="profileList">
				<xsd:sequence>
					<xsd:element name="profileArray" nillable="false" type="tns:ArrayOfProfile" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUnitId">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="unitId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUnit">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Unit" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="unitIdList">
				<xsd:sequence>
					<xsd:element name="unitIdArray" nillable="false" type="tns:ArrayOfUnitId" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="unitList">
				<xsd:sequence>
					<xsd:element name="unitArray" nillable="false" type="tns:ArrayOfUnit" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="GetUnittypesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element minOccurs="0" name="unittypeName" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUnittypesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="unittypes" nillable="true" type="tns:unittypeList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeUnittypeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unittype" nillable="false" type="tns:Unittype" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeUnittypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unittype" type="tns:Unittype" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUnittypeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element minOccurs="1" name="unittypeName" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUnittypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="deleted" nillable="false" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetProfilesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unittype" nillable="false" type="tns:Unittype" />
						<xsd:element maxOccurs="1" minOccurs="0" name="profile" nillable="true" type="tns:Profile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetProfilesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="profiles" nillable="true" type="tns:profileList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeProfileRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unittype" nillable="false" type="tns:Unittype" />
						<xsd:element maxOccurs="1" minOccurs="1" name="profile" nillable="false" type="tns:Profile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="profile" type="tns:Profile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteProfileRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unittype" nillable="false" type="tns:Unittype" />
						<xsd:element maxOccurs="1" minOccurs="1" name="profile" nillable="false" type="tns:Profile" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="deleted" nillable="false" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="GetUnitIdsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unit" nillable="false" type="tns:Unit" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUnitIdsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="units" nillable="true" type="tns:unitIdList" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUnitsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unit" nillable="false" type="tns:Unit" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetUnitsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="units" nillable="true" type="tns:unitList" />
						<xsd:element name="moreUnits" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeUnitRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unit" nillable="false" type="tns:Unit" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOrChangeUnitResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unit" type="tns:Unit" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUnitRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="tns:Login" />
						<xsd:element maxOccurs="1" minOccurs="1" name="unit" nillable="false" type="tns:Unit" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteUnitResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="deleted" nillable="false" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getUnittypesRequest">
		<wsdl:part element="tns:GetUnittypesRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="getUnittypesResponse">
		<wsdl:part element="tns:GetUnittypesResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="addOrChangeUnittypeRequest">
		<wsdl:part element="tns:AddOrChangeUnittypeRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="addOrChangeUnittypeResponse">
		<wsdl:part element="tns:AddOrChangeUnittypeResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="deleteUnittypeRequest">
		<wsdl:part element="tns:DeleteUnittypeRequest" name="wsm3" />
	</wsdl:message>
	<wsdl:message name="deleteUnittypeResponse">
		<wsdl:part element="tns:DeleteUnittypeResponse" name="wsm4" />
	</wsdl:message>
	<wsdl:message name="getProfilesRequest">
		<wsdl:part element="tns:GetProfilesRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="getProfilesResponse">
		<wsdl:part element="tns:GetProfilesResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="addOrChangeProfileRequest">
		<wsdl:part element="tns:AddOrChangeProfileRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="addOrChangeProfileResponse">
		<wsdl:part element="tns:AddOrChangeProfileResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="deleteProfileRequest">
		<wsdl:part element="tns:DeleteProfileRequest" name="wsm3" />
	</wsdl:message>
	<wsdl:message name="deleteProfileResponse">
		<wsdl:part element="tns:DeleteProfileResponse" name="wsm4" />
	</wsdl:message>
	<wsdl:message name="getUnitIdsRequest">
		<wsdl:part element="tns:GetUnitIdsRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="getUnitIdsResponse">
		<wsdl:part element="tns:GetUnitIdsResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="getUnitsRequest">
		<wsdl:part element="tns:GetUnitsRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="getUnitsResponse">
		<wsdl:part element="tns:GetUnitsResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="addOrChangeUnitRequest">
		<wsdl:part element="tns:AddOrChangeUnitRequest" name="wsm1" />
	</wsdl:message>
	<wsdl:message name="addOrChangeUnitResponse">
		<wsdl:part element="tns:AddOrChangeUnitResponse" name="wsm2" />
	</wsdl:message>
	<wsdl:message name="deleteUnitRequest">
		<wsdl:part element="tns:DeleteUnitRequest" name="wsm3" />
	</wsdl:message>
	<wsdl:message name="deleteUnitResponse">
		<wsdl:part element="tns:DeleteUnitResponse" name="wsm4" />
	</wsdl:message>
	<wsdl:portType name="ACSWS">
		<wsdl:operation name="getUnittypes">
			<wsdl:input message="tns:getUnittypesRequest" />
			<wsdl:output message="tns:getUnittypesResponse" />
		</wsdl:operation>
		<wsdl:operation name="addOrChangeUnittype">
			<wsdl:input message="tns:addOrChangeUnittypeRequest" />
			<wsdl:output message="tns:addOrChangeUnittypeResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteUnittype">
			<wsdl:input message="tns:deleteUnittypeRequest" />
			<wsdl:output message="tns:deleteUnittypeResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProfiles">
			<wsdl:input message="tns:getProfilesRequest" />
			<wsdl:output message="tns:getProfilesResponse" />
		</wsdl:operation>
		<wsdl:operation name="addOrChangeProfile">
			<wsdl:input message="tns:addOrChangeProfileRequest" />
			<wsdl:output message="tns:addOrChangeProfileResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteProfile">
			<wsdl:input message="tns:deleteProfileRequest" />
			<wsdl:output message="tns:deleteProfileResponse" />
		</wsdl:operation>
		<wsdl:operation name="getUnits">
			<wsdl:input message="tns:getUnitsRequest" />
			<wsdl:output message="tns:getUnitsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getUnitIds">
			<wsdl:input message="tns:getUnitIdsRequest" />
			<wsdl:output message="tns:getUnitIdsResponse" />
		</wsdl:operation>
		<wsdl:operation name="addOrChangeUnit">
			<wsdl:input message="tns:addOrChangeUnitRequest" />
			<wsdl:output message="tns:addOrChangeUnitResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteUnit">
			<wsdl:input message="tns:deleteUnitRequest" />
			<wsdl:output message="tns:deleteUnitResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ACSWS" type="tns:ACSWS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getUnittypes">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOrChangeUnittype">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteUnittype">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProfiles">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOrChangeProfile">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteProfile">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUnitIds">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUnits">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOrChangeUnit">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteUnit">
			<soap:operation soapAction="http://http://freeacsws.owera.com/freeacsws/soap" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ACSWS">
		<wsdl:port binding="tns:ACSWS" name="ACSWS">
			<soap:address location="http://localhost:8082/freeacsws/services/ACSWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
